{% extends 'student_base.html'%}
{% block content %}
<div class="bg-white text-dark w-75">
	<div class='d-flex justify-content-center'>
		<div class="w-75 mb-2 mt-2 text-dark ">
			<div class='container'>
					<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/student">Home</a></li>
			    		<li class="breadcrumb-item"><a href="/student/badge/">Badge</a></li>
			    		<li class="breadcrumb-item active" aria-current="page">Details</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
	<div class='d-flex justify-content-center'>
		<div class="w-75 mb-2 mt-2 text-dark ">
			<div class='container'>
<h3>Badge Details</h3>
			</div>
		</div>
	</div>
	<div class='d-flex justify-content-center'>
		<div class="p-3 mb-3 w-75 card bg-light text-dark ">
			<div class='container'>
				<div class="pt-2 row justify-content-md-center">
					<img src="{{ item.badge.badge_allocated_image.url }}">&emsp; 
					<h3>{{ item.badge.badge_title }} details</h3>
<p>{{ item.badge.badge_description }}</p>
{% if item.obtained == True %}
	<p>Obtained</p>
	<p>Given by: {{ item.alloc.staff_id.first_name }} {{ item.alloc.staff_id.last_name }}<p>
	<p>On: {{ item.alloc.alloc_date }}</p>
{% endif%}
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}