{% extends 'teacher_base.html' %}
{% block content %}
<div class="bg-white text-dark w-75">
<div class='d-flex justify-content-center'>
	<div class="w-75 mb-2 mt-2 text-dark ">
		<div class='container'>
			<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/teacher">Home</a></li>
			    	<li class="breadcrumb-item active" aria-current="page">Students</li>
				</ol>
			</nav>
		</div>
	</div>
</div>
<div class='d-flex justify-content-center'>
	<div class="w-75 mb-2 mt-2 text-dark ">
		<div class='container'>
			<h3>Student List</h3>
		</div>
	</div>
</div>
<div class='d-flex justify-content-center'>
	<div class="p-3 mb-3 w-75 card bg-light text-dark ">
		<div class='container'>
			<div class="pt-2 row justify-content-md-center">
				<div class="table-responsive">
					<table class="table table-hover bg-white">
						<thead class="table-dark">
							<tr>
								<th>User Picture</th>
								<th>Name</th>
								<th>Email</th>
								<th></th>
							</tr>
						</thead>
					{% for student in profile_list %}
						<tr>
							{% if student.profile_details == None %}
								<td>No Profile</td>
							{% else %}
								<td><img src="{{ student.profile_details.image.url }}" style="border-radius: 50%; height:50px;"></td>
							{% endif %}
							<td>{{ student.user_details.first_name }} {{ student.user_details.last_name }}</td>
							<td>{{ student.user_details.email }}</td>
							<td>
								<form action="/teacher/student/{{ student.user_details.id }}">
									<button type="submit" class="btn btn-primary btn-sm">View</button>
								</form>
							</td>
						</tr>
					{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}