{% load static %}
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">             
  <a class="navbar-brand" href="/teacher">Ballarat </br> TECH SCHOOL</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="/teacher">HOME</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/teacher/badge">BADGES</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            VIEW
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/teacher/student">STUDENTS</a>
              <a class="dropdown-item" href="/teacher/report">REPORT</a>                             
          </div>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/logout/">LOGOUT</a>
      </li>
    </ul>
  </div>
  <div class='d-flex justify-content-end'>
        <span class="navbar-text">
          Hello</br> {{ request.user.first_name }} {{ request.user.last_name }}
        </span>
    </div>
</nav>

